*{box-sizing: border-box;}
	

.first{
	float:left;
	width:10%;
	position: fixed;
	
}

.second{
	float:left;
    width:40%;
	position: static;
	margin-left:200px;
	
	
}

.third{
	float: right;
	width:30%;
	position: fixed;
	margin-left:720px;

	
}

button{
	width:300px;
	height:35px;
	border-radius:50px;
	margin-bottom: 6px;
	margin-left:10px;
	background-color:white;
	color:black;
	border: 1px solid #CFD9DE; 

}

.third2 a{
	text-decoration: none;
	color: #7B8892;
}

.third1{
	border:1px solid #EFF3F4;
	border-radius:10px;
	padding:2px;
	padding-left:15px;
	
}




